

.body  {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.bpw-from-user .bpw-chat-bubble  {
  background-color: #3385ff;
  color: #FFF;
}

.bpw-from-bot .bpw-chat-bubble {
  background-color: #FFF;
  color: #444;
}

.bpw-chat-bubble  {
  border-radius:  10px  !important;
}
